<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Airfare Scraper</title>

	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="semantic.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.min.css">
	<!-- Custom scripts for this template -->
	<script type="text/javascript" src="scripts/jquery-ui.js"></script>
	<script type="text/javascript" src="scripts/jquery-2.2.4.js"></script>


</head>

<body>

	<div id="container">
		        {% block content %}Welcome{% endblock %}
	</div>

</body>
	<script type="text/javascript" src="scripts/form.js"></script>
	<script src="semantic.min.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>


</html>